<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Universal Storage Tool">
  <meta name="keywords" content="Storage, Drive, Tool">
  <meta name="author" content="Ionut Feraru">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css">
  <script src="menu.js"></script>
  <title>Stoly</title>

</head>
<body id="grad">

<header>
  <div class="header">
    <div id="branding">
      <%= image_tag 'logo.png' %>
      <h1> Universal Storage tool</h1>
    </div>

    <div class="current">
      <button> CONT</button>
      <button> INFO</button>
    </div>
  </div>
</header>

<hr>
<div id="new">
  <button><%= link_to '*PLUS SIGN* New', new_file_path %></button>
</div>
<div id="new">
  <button><%= link_to 'Split file', split_view_path %></button>
</div>
<div id="new">
  <button><%= link_to 'Merge files locally', merge_view_path %></button>
</div>

<hr>

<nav class="sidenav">
  <ul>
    <li class="current"><a href=<%root_path%>>My Drive</a></li>
    <li><a href="shared_with_me.html">Shared with me</a></li>
    <li><a href="services.html">Recent</a></li>
    <li><a href="favorites.html">Favorites</a></li>
    <li><%=link_to 'Trash', trash_path, class: 'a' %></li>
  </ul>
</nav>

<section id="files">
  <div class="container">
    <% @session.files.each do |file| %>
      <div class="container">
        <% if DriveFile.available.where(name: file.title) != [] %>
          <%= file.title %>
          <%= link_to 'Download', download_file_path(file_name: file.title), class: 'button' %>
          <%= link_to 'Delete', file_path(id: file.id ,file_name: file.title), method: :delete, class: 'button', data: { confirm: 'Your sure?' } %>
        <% end %>
      </div>
    <% end %>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>
    <p>Fusce bibendum in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin
      cursus, nulla quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.Fusce bibendum
      in ex quis venenatis. Phasellus tincidunt massa at nulla porttitor, ac mattis odio luctus. Proin cursus, nulla
      quis auctor auctor, turpis sem eleifend dui, et consequat nisl nisi tincidunt metus.</p>

  </div>
</section>


<footer>
  <p> Copyright &copy; the best team </p>
</footer>
<!-- New -->
<!-- My driver -->
<!-- Shared with me --> <!-- Sorted by date-->
<!-- Recent --> <!-- File which were opened recently -->
<!-- Starred -->
<!-- _________ -->
<!-- Storage --> <!-- Not clickable, showing just how much storage is left-->

<!-- My Drive with the options of creating folders etc. -->
<!-- List view/ Grid view-->
<!-- Details about the recent activity or details about the current drive or the current folder-->
<!-- _________________ -->
<!-- Folders -->
<!-- Files -->
<!-- Organized -->


</body>
</html>


<%= link_to 'Logout', logout_path, method: :delete if current_user %>



