<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<title>Universal Storage Tool</title>

  	<link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,600&display=swap" rel="stylesheet">

  	<link rel="stylesheet" href="../../assets/stylesheets/styles.css">
  	<link rel="stylesheet" href="../../assets/stylesheets/footer.css">
  	<link rel="stylesheet" href="../../assets/stylesheets/main.css">
  	<link rel="stylesheet" href="../../assets/stylesheets/nav.css">
  	<link rel="stylesheet" href="../../assets/stylesheets/header.css">
	<link rel="stylesheet" href="../../assets/stylesheets/aside.css">
</head>

<body>
	<div class="container">
		<header>
			<div class="toolbar" role="banner">
			  <img width="40" alt="Logo" src="images/logo.png" class="header-image">
  				<span>Universal Storage Tool</span>
    				<div class="spacer"></div>
				<div class="topnav">
					<label>
						<input type="text" placeholder="Search..">
					</label>
				</div>
    			<img src="https://picsum.photos/50" alt="account info" class="header-image">
			</div>

<!--			TO DO: Make the logo go to home page-->
<!--					Align the search-bar with the main-->
<!--					-->
		</header>

		<main> <!-- THIS WILL BE THE MAIN PART OF THE PAGE -->
			<section>
				<!-- THE MAIN FILES SECTIONS -->
				 <hr>
	        	<div class="item-container">
<!--					HERE WILL BE THE FILES-->
							<% @session.files.each do |file| %>
								<% if DriveFile.available.where(name: file.title) != [] %>
									<%= file.title %>
									<%= link_to 'Download', download_file_path(file_name: file.title), class: 'button' %>
									<%= link_to 'Delete', file_path(id: file.id ,file_name: file.title), method: :delete, class: 'button', data: { confirm: 'Your sure?' } %>
								<% end %>
							<% end %>

				</div>
			</section>
<!--			-->
<!--			TO DO: 	Make the files uploaded to appear here-->
<!--					Correct the responsiveness of this grid-->
<!--					-->
		</main>
		<nav>
			<!-- THIS WILL BE THE MENU -->
			<hr>
	        <ul>
	            <li class="active">
	            	<!-- <div class="arrow-up"></div> -->
	            	<a href="index.html">My Drive</a></li>
	            <li><a href="shared_with_me.html">Shared with me</a></li>
	            <li><a href="services.html">Recent</a></li>
	            <li><a href="favorites.html">Favorites</a></li>
	            <li><!-- <%=link_to 'Trash', trash_path, class: 'a' %> -->
	             <a href="trash.html">Trash</a></li>
	        </ul>
	        <hr>

	        <!-- HERE WILL BE THE STORAGE BAR -->
	        <div id="show-storage" style="padding: 8px 16px;">
	            <p>Storage</p>
	            <progress id="file" value="32" max="100"> 32% </progress>
	            <p>32 GB of 100 GB used</p>
	        </div>
<!--			-->
<!--			TO DO:	Add the NEW Button/ style it-->
<!--					Correct the responsiveness of the menu-->
<!--					Make the pages for the menu
						Make the arrow pointers-->
		</nav>
		<footer>
			<!-- THIS WILL BE THE FOOTER -->
			<p id="footer">COPYRIGHT TW CHILDS</p>
<!--			-->
<!--			TO DO:	Correct the responsiveness here, also-->
<!--					Make the footer in its final form-->
		</footer>

		<aside>
<!--				TO DO:	Assign some items into this component-->
<!--						Correct the responsiveness.-->
		</aside>
	</div>
</body>
</html>
<%= link_to 'Logout', logout_path, method: :delete if current_user %>
